*{
	box-sizing: border-box;
}

body{
	background: linear-gradient(108deg, #069A8E 0%, #005555 100%);
	margin-right: 140px;
	margin-left: 140px;
	margin-bottom: 50px;
}

.p1{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: #205375;
	font-family: 'Righteous', cursive;
	font-size: 2rem;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=number]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=date]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=email]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  margin-top: 12px;
  background-color: #205375;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  margin-left: 25%;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col1 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col2 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.field:after {
  content: "";
  display: table;
  clear: both;
}

.spasi{
	margin-bottom: 12px;
}
