*{
    box-sizing: border-box;
}

body{
    background-color: #dde8f0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

nav{
    position:absolute;  
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #004581;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 2);
    padding: 0px 5%;
}

nav ul{
    display: flex;
}

nav ul li a{
    margin: 30px;
    font-family: arial;
    color:#ffffff;
    font-size: 15px;
    font-weight: 700;
}

.logo{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 22px;
}

.p1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    color: #004581;
    font-family: 'Helvetica','sans-serif';
    font-size: 2rem;
}

input[type=text], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=email]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    margin-top: 12px;
    background-color: #004581;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-left: 25%;
}

.container {
    margin-top: 15vh;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-left: 172px;
    margin-right: 172px;
    padding: 20px;
}

.foot{
    margin-top: -20px;
    color: #000;
}

.col1 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col2 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.field:after {
    content: "";
    display: table;
    clear: both;
}

.spasi{
        margin-bottom: 12px;
}

.spasi2{
    margin-top: 12px;
}