body{
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #000080;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

nav{
    position: fixed; 
    top: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #2d2d2d;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 2);
    padding: 0px 5%;
}

nav ul{
    display: flex;
}

nav ul li a{
    margin: 30px;
    font-family: arial;
    color:#ffffff;
    font-size: 15px;
    font-weight: 700;
}

.logo{
    color: #ffffff;
    font-size: 22px;
}

.p1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #027dc5;
}

.valign1{
    margin-top: 60px;
}

.valign2{
    margin-bottom: 20px;
}

.about{
    background-color: #114084;
    width: 100%;
    height: 100vh;
}

img{
    float: left;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 70px;
    margin-bottom: 40px;
    max-width: 30%;
    height: 500px;
}

.p2{
    margin-bottom: -1px;
    text-align: center;
    font-size: 40px;
    color: #f3971b;
}

hr{
    margin-bottom: 50px;
}

.p3{
    color: #ffffff;
    font-size: 45px;
}

.p4{
    margin-top: -40px;
    color: #ffffff;
    font-size: 20px;
}

.p5{
    margin-right: 10%;
    text-align: justify;
    color: #ffffff;
    font-size: 18px;
}

.hr1{
    color: #ffffff;
    margin-right: 10%;
    margin-bottom: 37px;
}

.Button {
	box-shadow: 0px 10px 14px -7px #3d8d99;
	background-color:#ffffff;
	border-radius:8px;
	color:#080008;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
}

.skill{
    width: 100%;
    height: 70vh;
}

.p7{
    text-align: center;
    font-size: 40px;
    color: #bc672c;
}

.container {
    margin-left: 10%;
    width: 80%;
    background-color: #f2dcc5;
} 

.skills {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

.p8{
    margin-left: 10%;
    color: #b18f69;
    font-size: 20px ;
}

.html {
    width: 50%; background-color: #bc672c;

}
.css {
    width: 30%; background-color: #bc672c;
}
.js {
    width: 10%; background-color: #bc672c;
}
.cplus {
    width: 60%; background-color: #bc672c;
}

.hr2{
    margin-top: -25px;
}

.contact{
    width: 100%;
    height: 90vh;
    background-color: #F2DCC5;
}

.p9{
    margin-top: -10px;
    text-align: center;
    font-size: 40px;
    color: #bc672c;
}

.hr3{
    margin-top: -25px;
}

.column{
    float: left;
    width: 20%;
}

form { 
    max-width:420px; margin:40px auto; 
}

.feedback-input {
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    border:2px solid #bc672c;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus { 
    border:2px solid #000000; 
}

textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

[type="submit"] {
    width: 100%;
    color: #F2DCC5;
    background:#bc672c;
    border-radius:5px;
    border:0;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

[type="submit"]:hover { 
    background:#ffffff; 
}

.row.info {
    background-color: #121315;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.row.info i {
    font-size: 1.8em;
    color: #2a8ded;
}

.row.info img{
    margin-left: 50%;
    margin-bottom: 1px;
    width: 40px;
    height: 40px;
}

.row.info p{
    margin-left: 40px;
    color: #f3971b;
    text-align: center;
}
  
.row.info div {
    padding: 1em 0;
    width: 100%;
}

.p10{
    color: #f3971b;
    text-decoration: none;
}
  
.row.info div:hover {
    background-color: #25262e;
}
  
.copyright {
    padding: 0.3em 1em;
    background-color: #25262e;
}
  
.copyright p {
    color: #ffffff;
    font-size: 0.9em;
    text-align: center;
}



