body{
	margin: 0;
}
font{
	font-family: Arial, Helvetica, sans-serif;
}
a:link, a:visited,  a:hover, a:active
{
    text-decoration: none;
}
#table01{
	border: none;
	background-color: #1c1c1c;
	width: 100%;
	padding: 0;
	border-spacing: 0;
}
.t1{
	border: none;
	width: 85%;
	border-spacing: 0;
}
.f1{
	color: #ffffff;
}
.td1{
	width: 50%;
}
#table02{
	border: none;
	background-color: #f1f1f1;
	width: 100%;
	padding: 0px;
	border-spacing: 0px;
}
.t2{
	border: none;
	width: 85%;
	border-spacing: 0px;

}
.f2{
	color: #027dc5;
}
#table03{
	border: none;
	background-color: #114084;
	width: 100%;
	border-spacing: 0px;
}
.table03-1{
	border: none;
	width: 85%;
	border-spacing: 0px;
}
.f3{
	color: #f3971b;
}
.td3-1{
	width: 35%;
}
.td3-2{
	width: 65%;
}
.table03-2{
	border: none;
	width: 100%;
	padding: 0px;
	border-spacing: 0px;
}
#table04{
	border: none;
	width: 100%;
	padding: 0px;
	border-spacing: 0px;
	background-color: #f1f1f1;
}
.table04-1{
	border: none;
	width: 85%;
	border-spacing: 0px;
}
.f4-1{
	color: #bc672c;
}
.f4-2{
	color: #b18f69;
}
.f4-3{
	color: #d8caae;
}
.table04-2{
	border: none;
	width: 100%;
	padding: 0px;
	border-spacing: 0px;
}
.table04-3{
	border: none;
	width: 20%;
	padding: 0px;
	border-spacing: 0px;
	background-color: #bc672c;
}
.table04-4{
	border: none;
	width: 45%;
	padding: 0px;
	border-spacing: 0px;
	background-color: #bc672c;
}
.table04-5{
	border: none;
	width: 5%;
	padding: 0px;
	border-spacing: 0px;
	background-color: #bc672c;
}
.table04-6{
	border: none;
	width: 2%;
	padding: 0px;
	border-spacing: 0px;
	background-color: #bc672c;
}
#table05{
	border: none;
	width: 100%;
	border-spacing: 0px;
	padding: 0px;
	background-color: #F2DCC5;
}
.table05-1{
	border: none;
	width: 85%;
	border-spacing: 0px;
}
.f5-1{
	color: #114084;
}
.table05-2{
	border: none;
	background-color: #1c1c1c;
	width: 55%;
	border-spacing: 0px;
}
.table05-3{
	border: none;
	width: 100%;
	border-spacing: 0px;
	background-color: #1c1c1c;
}
#table06{
	border: none;
	background-color: #1c1c1c;
	width:100%;
	border-spacing: 0px;
	
}
.table06-1{
	border: none;
	background-color: #1c1c1c;
	width:100%;
	border-spacing: 0px;
}
.f6{
	color: #c2c0c3;
}


